.logotipo{
  width: 15em;
  height: auto;
}
.menu{
  margin-top: 5em;
}
.marginleft{
  margin-left: 2em;
  margin-top: 2em;
}
.marginright{
  margin-right: 2em;
}
.titulomargin{
  margin-left: 2em;
}
.titulomarginn{
  margin-top: 3em;
  text-align: center;
}
.frmtransaccion{
  margin-top: 3em;
  text-align: center;
}
.inputtrans{
  margin-top: 2em;
  margin-bottom: 2em;
}
input {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: 0.5px solid #333333;
      padding: 0 4px 0 4px;
   }
.btnl{
  text-align: center;
  width: 150px;
  align:left;
}
.btnr{
  width: 150px;
  text-align: center;
  align:right;
}
.contrato{
  margin:10px;
}
